<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.ico')}}">

    <title> {{ title }} </title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61729721-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body>
    <div class="pure-g centered-content">

      <div class="pure-u-1-1">
	<p>
	  where is <b><span class="black">who is hiring?</span></b>
	  hiring?
	  <span class="floatRight">
	    <a href="/faq">faq</a> |
	    <a href="/">home</a>
	  </span>
	</p>
      </div>

      <div class="pure-u-1-1 topMenu">
	<div>
	  <span>
	    [ 2015 ] : 
	    <a href="/city/2015/1">[ jan ]</a>
	    <a href="/city/2015/2">[ feb ]</a>
	    <a href="/city/2015/3">[ mar ]</a>
	    <a href="/city/2015/4"><b>[ apr ]</b></a>
	  </span>
	</div>
	<div class="topMenuLine">
	  <span>
	    [ 2014 ] : 
	    <a href="/city/2014/1">[ jan ]</a>
		<a href="/city/2014/2">[ feb ]</a>
		<a href="/city/2014/3">[ mar ]</a>
		<a href="/city/2014/4">[ apr ]</a>
		<a href="/city/2014/5">[ may ]</a>
		<a href="/city/2014/6">[ jun ]</a>
		<a href="/city/2014/7">[ jul ]</a>
		<a href="/city/2014/8">[ aug ]</a>
		<a href="/city/2014/9">[ sep ]</a>
		<a href="/city/2014/10">[ oct ]</a>
		<a href="/city/2014/11">[ nov ]</a>
		<a href="/city/2014/12">[ dec ]</a>
	  </span>
	</div>
	<div class="topMenuLine">
	  <span>
	    [ all time ] :
	    <a href="/all/cities">[ cities ]</a>
	    <a href="/all/countries">[ countries ]</a>
	  </span>
	</div>
      </div>

      {% block body_content %} {% endblock %}

    </div>
  </body>
</html>
