{% extends 'base.html' %}
{% block body_content %}

<div class="pure-u-1-1">
  <div class="totalJobsHeadline">
    <b>{{ jobsNo }}</b> total jobs in {{ currentMonth }} {{ year }}
    - browse by
    <b>[<a href="/{{menuLink}}/{{year}}/{{month}}"> {{menuLink}} </a>]</b>
    <b>[<a href="/seasia/{{year}}/{{month}}"> se asia </a>]</b>
    <b>[<a href="/nocal/{{year}}/{{month}}"> no cal </a>]</b>
    <b>[<a href="/socal/{{year}}/{{month}}"> so cal </a>]</b>
    <b>[<a href="/europe/{{year}}/{{month}}"> europe </a>]</b>
    <b>[<a href="/country/{{year}}/{{month}}/REMOTE"> remote </a>]</b>
    <b>[<a href="/city/{{year}}/{{month}}/INTERN"> intern </a>]</b>

  </div>

  <div>
    <ul>
      {% for e in totalRank %}
      <li> 
	{{ e[0] }} jobs in
	{% for place in e[1:] %} 
	<span class="group">
	  [
	    <a href="/{{ internalLink }}/{{ year }}/{{ month }}/{{ place }}"> {{ place }}
            </a>
	   ]
	</span>
	{% endfor %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
