{% extends 'base.html' %}
{% block body_content %}

<div class="pure-u-1-1">

  <div class="faq-container">
    <h3>What is this thing?</h3>
    <p>
      This app is a wrapper for the monthly 
      Hacker News' <a target="_blank" href="https://news.ycombinator.com/submitted?id=whoishiring">Who is hiring?</a> thread. 
      It is not affiliated with YCombinator, I don't make a single cent for running it, etc. etc. I built it for myself, and then
      people <a href="https://news.ycombinator.com/item?id=9348193">found it useful</a> so that's it.
    </p>

    <h3>Is the code on Github?</h3>
    <p>
      Sure! For both the website and the database. Check it out
      <a target ="blank" href="https://github.com/oilnam/whereis-whoishiring-hiring">here</a>. PRs are welcome.
    </p>

    <h3>How can I contact you?</h3>
    <p>
      PRs, bug reports, suggestions and so on all welcome. Drop me an <a target="_blank" href="mailto:manlio.poltronieri@gmail.com">
	email</a> - and if you're into that kind of things,
      you can find my GPG key <a target="blank" href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x6625D8AF623EF208">here</a>.
    </p>

    <h3>What is the stack behind <i>wwh?</i> ?</h3>
    <p>
      Python + Flask + SQLAlchemy, Nginx (http + reverse proxy cache), 
      MySQL, Pure CSS hosted on my
      Digital Ocean VPS. Kudos to the excellent 
      <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a> 
      library for web scraping.
    </p>
    
  </div>

</div>

{% endblock %}
