{% extends 'base.html' %}
{% block body_content %}

<div class="pure-u-1-3">
  <p class="black"><b>top cities - {{lastMonthName}} {{lastYear}}</b></p>
  <ol>
    {% for city in top12cities %}
    <li>
      <a href="/city/{{lastYear}}/{{lastMonth}}/{{city[1]}}">
	{{ city[1] }}</a> ({{ city[0] }})
    </li>
    {% endfor %}
  </ol>
  <p><b><a href="/city/{{lastYear}}/{{lastMonth}}">[ view all cities ]</a></b></p>
</div>

<div class="pure-u-1-3">
  <p class="black"><b>top countries - {{lastMonthName}} {{lastYear}}</b></p>
  <ol>
    {% for country in top12countries %}
    <li>
      <a href="/country/{{lastYear}}/{{lastMonth}}/{{country[1]}}">
	{{ country[1] }}</a> ({{ country[0] }})
    </li>
    {% endfor %}
  </ol>
  <p><b><a href="/country/{{lastYear}}/{{lastMonth}}">[ view all
  countries ]</b></a></p>
</div>


<div class="pure-u-1-3">
  <p class="black"><b>macro areas - {{lastMonthName}} {{lastYear}}</b></p>
  <ul>
    <li>
      <a href="/seasia/{{lastYear}}/{{lastMonth}}">
	SE Asia</a> ({{seasiaJobs}})
    </li>
    <li>
      <a href="/nocal/{{lastYear}}/{{lastMonth}}">
	NO California</a> ({{noCalJobs}})
    </li>
    <li>
      <a href="/socal/{{lastYear}}/{{lastMonth}}">
	SO California</a> ({{soCalJobs}})
    </li>
    <li>
      <a href="/europe/{{lastYear}}/{{lastMonth}}">
	Europe</a> ({{europeJobs}})
    </li>
    <li>
      <a href="/country/{{lastYear}}/{{lastMonth}}/REMOTE">
	REMOTE</a> ({{remoteJobs}})
    </li>
  </ul>
</div>



<div class="pure-u-1-1 totalJobsFooter">
  <p class="centerText">
    {{totalJobs}} jobs indexed so far &mdash;
    last db update: {{lastUpdate}}
  </p>
</div>

{% endblock %}
